
<div id="header">
    <div style="width:770px;">
        <h1 style="width:640px;float:left">
            AG Software, Inc.<br />
            <span class="text1">Building better mobile Social Media applications.</span>
        </h1>
        <img src="~/Content/Images/logo300x300.jpg" style="height:90px;width:90px" />
    </div>
</div>
<div id="menu">
    <ul>
        <li><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Products">Products</a></li>
        <li><a href="~/Home/AboutUs">About Us</a></li>
        <li><a href="~/Home/ContactUs">Contact Us</a></li>
    </ul>
</div>
<div id="content">
    <div id="left">
        <h2>Welcome to AGSoftwareInc.com!</h2>
        <p>&nbsp;</p>
        <p>For more information on what we are doing feel free to email us at <a href="mailto:info@agsoftwareinc.com" target="_top">info@agsoftwareinc.com</a> </p>
        <hr id="border-top" />
        <div id="colA">
            <p>
                <strong>Coming soon!</strong><br />
                Beta for Popcorn will be released in April 2016
            </p>
        </div>
        <div id="colB">
            <p>
                <strong>Mobile partners</strong><br />
                We have partnered with Nxtlive Technologies to create the latest Social Media app.  Check them out at http://www.nxtlive.com/
            </p>
        </div>
    </div>
    <div id="right">
        <h2>Recent Updates</h2>
        <p><strong>[03/09/2016]</strong> AG Software Inc. announces Beta release for Popcorn in April 2016.</p>
    </div>
</div>
<div id="footer">
    <p>Copyright &copy; 2016 AGSoftwareinc.com&nbsp;<a href="~/Home/PrivacyPolicy" target="_blank">Privacy Policy</a></p>
</div>
