
<div id="header">
    <div style="width:770px;">
        <h1 style="width:640px;float:left">
            AG Software, Inc.<br />
            <span class="text1">Building better mobile Social Media applications.</span>
        </h1>
        <img src="~/Content/Images/logo300x300.jpg" style="height:90px;width:90px" />
    </div>
</div>
<div id="menu">
    <ul>
        <li><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Products">Products</a></li>
        <li><a href="~/Home/AboutUs">About Us</a></li>
        <li><a href="~/Home/ContactUs">Contact Us</a></li>
    </ul>
</div>
<div id="content">
    <div id="left">
        <h2>Welcome to AGSoftwareInc.com!</h2>
        <p><img src="../../content/images/img03.jpg" alt="" width="155" height="120" class="img1" />Welcome to AG Software, where we are in the business of building better mobile Social media applications.</p>
        <p>&nbsp;</p>
        <p>We will soon be releasing our first application, Popcorn, that will be available for iOS immediately and Android in the near future.  Popcorn will take Social Media to the next level.  Think of it as Facebook, Instagram and Snapchat on steriods.</p>
        <hr id="border-top" />
        <div id="colA">
            <p>
                <strong>Better Social Media interactions</strong><br />
                It's time to make Social Media interactions fun again.  This is what we are setting out to do.  Facebook and Instagram are boring and Snapchat is heading in the right direction but hasn't quite made it there yet.  We are going to bring Social Media to the next level.
            </p>
        </div>
        <div id="colB">
            <p>
                <strong>Committed to quality</strong><br />
                We here at AG Software are committed to quality solutions that enable the user to utilize their mobile phone as more than just a telephone.  Mobile applications are the wave of the future and we are on the forefont.
            </p>
        </div>
    </div>
    <div id="right">
        <h2>Recent Updates</h2>
        <p><strong>[03/09/2016]</strong> AG Software Inc. announces Beta release for Popcorn in April 2016.</p>
    </div>
</div>
<div id="footer">
    <p>Copyright &copy; 2016 AGSoftwareinc.com&nbsp;<a href="~/Home/PrivacyPolicy" target="_blank">Privacy Policy</a></p>
</div>
